QGroupBox {
    border-radius: 8px;
    margin-top: 8px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
}

#logBox {
    border-radius: 6px;
}

QPushButton[diceButton="true"] {
    border-radius: 6px;
}

QPushButton[customButton="true"] {
    border-radius: 5px;
    padding: 2px 6px; 
}

QPushButton[smallButton="true"] {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

QPushButton[resetButton="true"] {
    border-radius: 5px;
}

#rollButton {
    border-radius: 8px;
    padding: 6px;
}

#countLabel {
    width: 220px;
    min-height: 50px;
    max-height: 65px;
    margin: 0px; 
    padding: 2px;
}